<footer>
	<div id="contact">
		<h1 id="contact">Let's make something together !</h1>
		<a id="email" href="mailto:hichame@lehich.com">
			Email me
		</a>
	</div>
	<div id="logo">
		<a  href="https://www.github.com/notfrogga"  target="_blank"><img class="imgLogo" src="assets/img/github-logo.png" /></a>
		<a href="https://www.linkedin.com/in/hichame-oukdim" target="_blank"><img class="imgLogo" src="assets/img/linkedin.png" /></a>
		<a href="https://www.malt.fr/profile/hichameo" target="_blank"><img class="imgLogo" src="assets/img/malt.png" /></a>
	</div>
	<div id="copyright">
		<p>© Hichame Oukdim</p>
		<p>Icons made by <a href="http://www.freepik.com">Freepik</a> from <a href="www.flaticon.com">www.flaticon.com</a></p>
	</div>

</footer>