$background-color: #51cc92;
$height: 30rem;

footer {
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $height;
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  background-color: $background-color;
}

footer > div {
  padding-top: 10rem;
  text-align: center;
}
