ul 
{
	display: inline-flex;
	list-style-type:none;
}
li {
	margin-right : 10%;
}
a {
	text-decoration:none;
	color:black;
	transition-duration: 0.08s;
	transition-timing-function:ease-in-out;
}
a:hover {
 border-bottom: solid;
 
}