$logo-font: pacifico;
$main-color: #51cc92;

#logo {
	font-family: $logo-font;
  padding: 5px;
  margin-right: 10%;
	border: solid;
	cursor: pointer;
}
ul {
  display: inline-flex;
  align-items: center;
  list-style-type: none;
}
li {
  margin-right: 10%;
}
a {
	cursor:pointer;
  text-decoration: none;
  color: black;
  transition-duration: 0.08s;
  transition-timing-function: ease-in-out;
}
a:hover {
  border-bottom: solid $main-color;
}
