$main-color: #51cc92;

html,
body {
  min-height: 100vh;
  position: relative;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
#content-wrap {
  padding-bottom: 30rem; /* Footer height */
}

h3 {
  color: $main-color;
}
