$main-color: #51cc92;

@font-face {
	font-family: poppins;
	src: url(assets/fonts/Poppins-Regular.ttf) format("opentype");
}

@font-face {
	font-family: pacifico;
	src: url(assets/fonts/Pacifico-Regular.ttf) format("opentype");
}

html,
body {
  min-height: 100vh;
	position: relative;
	scroll-behavior: smooth;
}
body {
  margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	display : flex;
	flex-direction: column;
}

p {
	font-size : 110%;
	font-family: poppins;
}

h3 {
  color: $main-color;
}

/*
* Mobile css
*/
@media screen and (max-width: 640px) {
	p {
		font-size : 100%;
	}
}