$footerHeight: 10rem;
$main-color: #51cc92;
$second-color: #34e8a6;
$menu-font: "Oswald", sans-serif;
$logo-font: "Kaushan Script", cursive;
/*$menu-font: 'Major Mono Display', monospace;*/
$title-font: "Lato", sans-serif;
$subtitle-font: "Poppins", sans-serif;
