<div class="animated fadeIn delay faster" id="home-page-container">
  <div id="section-1">
    <h1>
      Hello, my name is Hichame. I am a
      <span class="main-color">web developer</span>
    </h1>

    <h1>
      <span class="main-color">I build websites & webapps</span> and
      share it to the world
    </h1>
  </div>

  <div id="section-2">
    <h2>About me</h2>

    <p>
			Hello kind reader,<br />I am tech and video game enthousiast. I studied in a French engineering school, now I work as full-stack web developer in Paris.<br/>
      In my free time, I like to run, play video games and create cool apps.
    </p>

    <h2>What can I do ?</h2>

    <h3>Front-end</h3>

    <p>I build great looking website for computer and mobile users. I use mostly typescript and angular for the front-end.</p>

    <!-- Images of all the languages HTML CSS Bootstrap Javascript React Wordpress-->
    <div class="webLogo">
      <img class="imgLogo" src="assets/img/html5.png"/>
      <img class="imgLogo" src="assets/img/css3.png"/>
      <img class="imgLogo" src="assets/img/bootstrap.png" />
      <img class="imgLogo" src="assets/img/wordpress.png" />
    </div>

    <h3>Back-end</h3>

    <p>
      I build applications with APS.NET Core for the back-end logic. I am proficient using different database management systems such as SQL-Server, MySQL or Google Firebase depending on the needs.
    </p>
    <!-- C# MySQL-->
    <div class="webLogo">
			<img class="imgLogo" src="assets/img/dotNetCore.png" />
			<img class="imgLogo" src="assets/img/SQL-Server.png" />
			<img class="imgLogo" src="assets/img/mysql.png" />
			<img class="imgLogo" src="assets/img/firebase.png" />
    </div>
  </div>
</div>
