<div id="home-page-container">
  <div id="section-1">
    <img class="one__image" src="images/me.JPG" height="200px" />

    <h1>
      Hello, my name is Hichame. I am a
      <span class="underline">web developer</span>
    </h1>

    <h1>
      <span class="underline">I build websites and mobile apps</span> in order
      for to share it to the world
    </h1>
  </div>

  <div id="section-2">
    <h2>About me</h2>

    <p>
      Hello kind reader,<br />I am a tech and video game enthousiast and I build
      front-end web development projects.<br />
      Work-wise I am a french engineer currently working in Manchester as a
      project manager, but I want to make a career out of my web development
      skills and passion.
    </p>

    <h2>What can I do ?</h2>

    <h3>Front-end</h3>

    <p>I building great looking website for computer and mobile users.</p>

    <!-- Images of all the languages HTML CSS Bootstrap Javascript React Wordpress-->
    <div class="webLogo">
      <img class="imgLogo" src="./images/HTML5.png" />
      <img class="imgLogo" src="./images/css3.png" />
      <img class="imgLogo" src="./images/bootstrap.png" />
      <img class="imgLogo" src="./images/wordpress.png" />
    </div>

    <h3>Back-end</h3>

    <p>
      Building new features to enhance website. It will use mainly data in order
      to create added value.
    </p>
    <!-- C# MySQL-->
    <div class="webLogo">
      <img class="imgLogo" src="./images/php.png" />
      <img class="imgLogo" src="./images/mysql.png" />
    </div>
  </div>
</div>
