#home-page-container {
	margin: 0 15%;
}
#section-1 {
	text-align: center;
	margin-bottom: 5%;
}

.webLogo {
	text-align:center;
}
.imgLogo {
	margin : 0 2%;
	max-height: 90px;
	max-width: 90px;
}

.main-color{
	color:#51CC92;
}

@media screen and (max-width: 640px) {
	#home-page-container {
	}

	#section-1 {
		height: 100vh;
		padding-top:20%;
	}

	img {
		height: 60px;
		width: 60px;
	}

	p {
		text-align: justify;
	}
}